@import "../../node_modules/bulma/sass/utilities/initial-variables";

$primary: $red;

@import "~bulma";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
