@import "../../node_modules/bulma/sass/utilities/_all";

$primary: $turquoise;
$primary-invert: $turquoise-invert;

@import "~bulma";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
